<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgrammingProject"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CommentActivity"
            android:exported="false"
            android:label="@string/title_activity_comment"
            android:theme="@style/Theme.MobileProgrammingProject" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="e267389f10b4291b9da6816d4acaabbc" />

        <activity
            android:name=".Signup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".Login"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.MobileProgrammingProject.Fullscreen" />
        <activity
            android:name=".Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MobileProgrammingProject.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Screen"
            android:exported="true"
            android:parentActivityName=".MainPageActivity" />
        <activity
            android:name=".MainPageActivity"
            android:exported="true" />
        <activity
            android:name=".WritingBoardActivity"
            android:exported="true"
            android:parentActivityName=".MainPageActivity" />
        <activity
            android:name=".MyFavoritesActivity"
            android:exported="false"
            android:parentActivityName=".Mypage" />
        <activity
            android:name=".ViewCommentActivity"
            android:exported="false"
            android:parentActivityName=".Mypage" />
        <activity
            android:name=".ViewPostActivity"
            android:exported="false"
            android:parentActivityName=".Mypage" />
        <activity
            android:name=".ProfileChange"
            android:exported="false"
            android:parentActivityName=".Mypage" />
        <activity
            android:name=".Mypage"
            android:exported="true"
            android:parentActivityName=".MainPageActivity" />
    </application>

</manifest>